body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.search-box {
    margin: 20px;
}

select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
}

button {
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.routes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
    width: 400px;
    text-align: left;
}

.card button {
    margin-top: 10px;
    width: 100%;
}

#bookingCard {
    display: flex;
    justify-content: center;
}

.card {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form select {
    width: 300px;
    padding: 10px;
    margin: 5px;
}